.category-header {
  width: 100vw;
  font-size: 60px;
  font-family: "Tangerine", cursive;
  background-color: black;
  color: white;
  border: 0 !important;

  p::first-letter {
    font-size: 80px;
  }
  @media (min-width: 200px) and (max-width: 360px) {
    height: 17.75vh;
  }
  @media (min-width: 300px) and (max-width: 370px) {
    height: 12vh;
  }
  @media (min-width: 370px) and (max-width: 400px) {
    height: 15vh;
  }
  @media (min-width: 400px) and (max-width: 420px) {
    height: 11vh;
  }
  @media (min-width: 420px) and (max-width: 500px) {
    height: 11vh;
  }
  @media (min-width: 500px) and (max-width: 560px) {
    height: 16vh;
  }
  @media (min-width: 560px) and (max-width: 670px) {
    height: 12vh;
  }
  @media (min-width: 670px) and (max-width: 820px) {
    height: 14vh;
  }
  @media (max-width: 400px) and (min-height: 800px) {
    height: 10vh;
  }
  @media (min-width: 1000px) and (max-width: 1220px) {
    height: 15vh;
  }
  @media (min-width: 1220px) and (max-width: 1400px) {
    height: 15vh;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    height: 10vh;
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    height: 12vh;
  }
}

.addImage {
  color: white;
}

.writeImg {
  margin-left: 150px;
  width: 80vw;
  height: 40vh;
  border-radius: 10px;
  object-fit: cover;

  @media (min-width: 200px) and (max-width: 290px) {
    transform: translateX(-120px) translateY(80px);
    height: 30vh;
  }
  @media (min-width: 290px) and (max-width: 490px) {
    transform: translateX(-120px) translateY(65px);
    height: 30vh;
  }
  @media (min-width: 490px) and (max-width: 690px) {
    transform: translateX(-100px) translateY(55px);
    height: 30vh;
  }
  @media (min-width: 750px) and (max-width: 1290px) {
    transform: translateX(-80px) translateY(90px);
    height: 30vh;
  }
}

// .writeForm {
//   position: relative;
// }

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;

  @media (min-width: 100px) and (max-width: 300px) {
    transform: translateX(-9rem) translateY(7rem);
  }
  @media (min-width: 300px) and (max-width: 359px) {
    transform: translateX(-9rem) translateY(9rem);
  }
  @media (min-width: 360px) and (max-width: 370px) {
    transform: translateX(-9rem) translateY(10rem);
  }
  @media (min-width: 370px) and (max-width: 520px) {
    transform: translateX(-9rem) translateY(9rem);
  }
  @media (min-width: 520px) and (max-width: 615px) {
    transform: translateX(-8rem) translateY(9rem);
  }
  @media (min-width: 615px) and (max-width: 700px) {
    transform: translateX(-6rem) translateY(8rem);
  }
  @media (min-width: 700px) and (max-width: 800px) {
    transform: translateY(11rem) translateX(-4rem);
  }
  @media (min-width: 800px) and (max-width: 940px) {
    transform: translateX(-1rem) translateY(11rem);
  }
  @media (min-width: 940px) and (max-width: 1200px) {
    transform: translateX(-1rem) translateY(15rem);
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    transform: translateX(2rem) translateY(2rem);
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    transform: translateX(7rem) translateY(3rem);
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    transform: translateX(12rem) translateY(10rem);
  }
}

.writeIcon {
  border-radius: 50%;
  border: 1.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #b535fc;
  cursor: pointer;
  transform: translateX(65px);
  @media (min-width: 100px) and (max-width: 290px) {
    transform: translateX(-28px) translateY(90px);
  }
  @media (min-width: 290px) and (max-width: 330px) {
    transform: translateX(-5px) translateY(70px);
  }
  @media (min-width: 330px) and (max-width: 400px) {
    transform: translateX(5px) translateY(70px);
  }
  @media (min-width: 400px) and (max-width: 520px) {
    transform: translateX(-18px) translateY(70px);
  }
  @media (min-width: 520px) and (max-width: 700px) {
    transform: translateX(-5px) translateY(60px);
  }
  @media (min-width: 700px) and (max-width: 1000px) {
    transform: translateX(-4rem) translateY(95px);
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    transform: translateX(40px) translateY(90px);
  }
}

.writeInput {
  font-size: 1rem;
  color: white;
  border: none;
  padding: 10px;
  width: 60vw;
  background: transparent;
  border: 2px solid lightgray;
  transform: translateX(70px);
}

.writeTitle {
  width: 60vw;
  border-radius: 10px;
  color: white;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  @media (min-width: 100px) and (max-width: 310px) {
    width: 37vw;
  }
  @media (min-width: 310px) and (max-width: 321px) {
    width: 45vw;
  }
  @media (min-width: 321px) and (max-width: 359px) {
    width: 45vw;
  }
  @media (min-width: 360px) and (max-width: 370px) {
    width: 51vw;
  }
  @media (min-width: 370px) and (max-width: 400px) {
    width: 52vw;
  }
  @media (min-width: 400px) and (max-width: 500px) {
    width: 56.5vw;
  }

  @media (min-width: 700px) and (max-width: 800px) {
    width: 60vw;
  }
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 1rem;
  height: 35vh;
  @media (min-width: 100px) and (max-width: 620px) {
    height: 20vh;
  }
}

.writeSubmit {
  position: absolute;
  right: 300px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  @media (min-width: 100px) and (max-width: 300px) {
    transform: translateX(12.5rem) translateY(8rem);
  }
  @media (min-width: 300px) and (max-width: 359px) {
    transform: translateX(11.5rem) translateY(10rem);
  }
  @media (min-width: 360px) and (max-width: 370px) {
    transform: translateX(10rem) translateY(12rem);
  }
  @media (min-width: 370px) and (max-width: 410px) {
    transform: translateX(9.5rem) translateY(10rem);
  }
  @media (min-width: 410px) and (max-width: 489px) {
    transform: translateX(8.5rem) translateY(10rem);
  }
  @media (min-width: 490px) and (max-width: 500px) {
    transform: translateX(5rem) translateY(10rem);
  }
  @media (min-width: 500px) and (max-width: 615px) {
    transform: translateX(4rem) translateY(10rem);
  }
  @media (min-width: 615px) and (max-width: 700px) {
    transform: translateX(1rem) translateY(9rem);
  }
  @media (min-width: 700px) and (max-width: 800px) {
    transform: translateX(-2rem) translateY(12rem);
  }
  @media (min-width: 800px) and (max-width: 1000px) {
    transform: translateX(-6rem) translateY(12rem);
  }
  @media (min-width: 1000px) and (max-width: 1025px) {
    transform: translateX(-10rem) translateY(17rem);
  }
  @media (min-width: 1025px) and (max-width: 1080px) {
    transform: translateX(-11rem) translateY(16rem);
  }
  @media (min-width: 1080px) and (max-width: 1200px) {
    transform: translateX(-10rem) translateY(11rem);
  }
  @media (min-width: 1200px) and (max-width: 1300px) {
    transform: translateX(-15rem) translateY(4rem);
  }
  @media (min-width: 1300px) and (max-width: 1400px) {
    transform: translateX(-23rem) translateY(4rem);
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    transform: translateX(-25rem) translateY(5rem);
  }
  @media (min-width: 1600px) and (max-width: 1900px) {
    transform: translateX(-30rem) translateY(12rem);
  }
  @media (min-width: 1900px) and (max-width: 2000px) {
    transform: translateX(-38rem) translateY(12rem);
  }
}

.writeSubmit:hover {
  background-image: linear-gradient(180deg, rgb(47, 0, 255), rgb(255, 0, 234));
}

.writeSubmit:active {
  background-color: #3e8e41;
  box-shadow: 0 3px transparent;
  transform: translateY(2px);
}

.posts {
  margin: 1.1rem;
  position: relative;
  @media (min-width: 500px) and (max-width: 600px) {
    margin: 1rem;
  }
  @media (min-width: 700px) and (max-width: 1100px) {
    margin: 0.7rem;
  }
}

.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
}

.postImg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
}

.postCat {
  font-family: "Tangerine", cursive;
  font-size: 11px;
  color: #b535fc;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Old Standard TT", serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
  color: white;
  @media (max-width: 615px) {
    font-size: 18px;
    width: 30vw;
  }
}

.cat-link {
  text-decoration: none;
}

.postDate {
  font-family: "Tangerine", cursive;
  // font-style: italic;
  font-size: 18px;
  color: #999;
  margin-top: 15px;
  transform: translateY(-24px) translateX(15px);
}

.postDesc {
  font-family: "Old Standard TT", serif;
  font-size: 14px;
  color: white;
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  @media (max-width: 615px) {
    font-size: 12px;
    width: 25vw;
  }
}
