.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  width: 4rem;
  margin-top: 15px;
  cursor: pointer;
  @media (max-width: 615px) {
    display: flex;
  }
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.desc-container {
  width: 50vw;
  text-align: left;
  margin-left: 10rem;
  margin-top: 10px;
  @media (min-width: 200px) and (max-width: 500px) {
    margin-left: 1px;
    // width: 35vw;
  }
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 24px;
  color: white;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.topImg {
  width: 3vw;
  border-radius: 50%;
  margin-right: 5px;
  @media (min-width: 250px) and (max-width: 800px) {
    width: 7vw;
  }

  @media (min-width: 1000px) and (max-width: 1200px) {
    width: 5vw;
  }
}

.singlePost {
  flex: 9;
  background-color: black;
}

.singlePostWrapper {
  margin-top: 6%;
  display: grid;
  justify-content: center;
  text-align: center;
  @media (min-width: 200px) and (max-width: 300px) {
    margin-top: 20%;
    width: 100vw;
  }
  @media (min-width: 300px) and (max-width: 490px) {
    margin-top: 35%;
  }
  @media (min-width: 490px) and (max-width: 700px) {
    margin-top: 25%;
  }
  @media (min-width: 700px) and (max-width: 1220px) {
    margin-top: 20%;
  }
}

.singlePostImg {
  width: 90vw;
  height: 50vh;
  border-radius: 5px;
  object-fit: cover;
  @media (min-width: 200px) and (max-width: 420px) {
    height: 40vh;
    width: 80vw;
  }
  @media (min-width: 420px) and (max-width: 550px) {
    height: 30vh;
    width: 90vw;
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    height: 40vh;
    width: 94vw;
  }
}

.singlePostTitle {
  text-align: center;
  font-size: 48px;
  font-family: "Tangerine", cursive;
  color: white;
  @media (max-width: 615px) {
    font-size: 38px;
    width: 90vw;
  }
}

.singlePostEdit {
  // float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin: 5px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: #b535fc;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #b535fc;
  font-family: "Old Standard TT", serif;
  @media (min-width: 200px) and (max-width: 920px) {
    flex-direction: column;
  }
}

.singlePostDesc {
  color: white;
  font-size: 1rem;
  line-height: 45px;
  font-family: "Old Standard TT", serif;
  width: 50vw;
  text-align: center;
  float: right;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostUsernamelink {
  text-decoration: none;
  color: #b535fc;
}

.singlePostAuthor {
}

.singlePostDate {
}

.singlePostUsername {
  text-decoration: none;
  color: #b535fc;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  background: black;
}

*::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.editModeTitle {
  width: 52vw;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  padding: 10px;
  background: transparent;
  border: 2px solid lightgray;
  @media (min-width: 200px) and (max-width: 300px) {
    width: 35vw;
  }
  @media (min-width: 300px) and (max-width: 400px) {
    width: 35vw;
  }
  @media (min-width: 400px) and (max-width: 450px) {
    width: 35vw;
  }
  @media (min-width: 450px) and (max-width: 550px) {
    width: 41vw;
  }
  @media (min-width: 700px) and (max-width: 850px) {
    width: 40vw;
  }
  @media (min-width: 850px) and (max-width: 1250px) {
  }
}

.editModeBody {
  height: 20vh;
  font-size: 1rem;
  color: white;
  border: none;
  padding: 10px;
  width: 60vw;
  background: transparent;
  border: 2px solid lightgray;
  @media (min-width: 200px) and (max-width: 300px) {
    width: 70vw;
  }
  @media (min-width: 300px) and (max-width: 370px) {
  }
  @media (min-width: 370px) and (max-width: 380px) {
  }
  @media (min-width: 400px) and (max-width: 450px) {
  }
  @media (min-width: 450px) and (max-width: 550px) {
  }
  @media (min-width: 700px) and (max-width: 850px) {
  }

  @media (min-width: 850px) and (max-width: 1250px) {
  }
}

.editModeButton {
}

.truncate-arrow {
  color: #b535fc;
}

.post-navbar {
}
