.contact-form {
  display: grid;

  justify-content: center;
  text-align: center;
  margin-top: 5%;
  @media (min-width: 200px) and (max-width: 615px) {
    margin-top: 25%;
  }

  @media (min-width: 700px) and (max-width: 1205px) {
    margin-top: 32%;
  }
  @media (min-width: 1900px) and (max-width: 2005px) {
    margin-top: 10%;
  }

  .email {
    // transform: translateX(100px);
    // @media (max-width: 615px) {
    //   transform: translateX(0);
    // }
  }

  .full-name {
    // transform: translateX(100px);
    // @media (max-width: 615px) {
    //   transform: translateX(0);
    // }
  }

  .contact-btn {
    // transform: translateX(8rem);
    // @media (max-width: 615px) {
    //   transform: translateX(0);
    // }
  }
}

.help {
  @media (min-width: 200px) and (max-width: 305px) {
    width: 85vw;
  }
}

textarea {
  border-radius: 5%;
}

.successful-message {
  width: 90vw;
  font-size: 20px;
  align-self: center;
  @media (min-width: 100px) and (max-width: 305px) {
  }
}

.row {
  display: flex;
  justify-content: center;
}
