.contact-form {
  transform: translateX(-400px);
  @media (max-width: 615px) {
    font-size: 10px;
  }

  .email {
    transform: translateX(100px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }

  .full-name {
    transform: translateX(100px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }

  .contact-btn {
    transform: translateX(165px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }
}

.help {
  transform: translateX(100px);
  @media (max-width: 615px) {
    transform: translateX(10px);
  }
}

textarea {
  border-radius: 5%;
}

.successful-message {
  font-size: 20px;
  // float: left;
  transform: translateX(-110px) translateY(60px);
}
