.contact-form {
  transform: translateX(-400px);
  @media (max-width: 615px) {
    font-size: 10px;
  }
  @media (min-width: 200px) and (max-width: 305px) {
    transform: translateX(-1100px) translateY(30px);
    width: 40vw;
  }
  @media (min-width: 305px) and (max-width: 355px) {
    transform: translateX(-1000px);
  }
  @media (min-width: 355px) and (max-width: 415px) {
    transform: translateX(-980px);
  }
  @media (min-width: 500px) and (max-width: 605px) {
    transform: translateX(-900px) translateY(80px);
  }
  @media (min-width: 700px) and (max-width: 805px) {
    transform: translateX(-680px) translateY(200px);
  }
  @media (min-width: 805px) and (max-width: 1205px) {
    transform: translateX(-600px) translateY(300px);
  }

  .email {
    transform: translateX(100px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }

  .full-name {
    transform: translateX(100px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }

  .contact-btn {
    transform: translateX(165px);
    @media (max-width: 615px) {
      transform: translateX(0);
    }
  }
}

.help {
  transform: translateX(100px);
  @media (max-width: 615px) {
    transform: translateX(10px);
  }
  @media (min-width: 200px) and (max-width: 305px) {
    width: 80vw;
  }
}

textarea {
  border-radius: 5%;
}

.successful-message {
  font-size: 20px;
  // float: left;
  transform: translateX(-110px) translateY(60px);
  @media (min-width: 100px) and (max-width: 305px) {
    font-size: 12px;
  }
}
