.homepace-header {
  margin: 10px;
  transform: translateX(280px);
  @media (max-width: 615px) {
    transform: translateX(110px);
  }
}

.logout {
  transform: translateY(-5rem);
}

.connect-dashboard {
  transform: translateY(-4rem);
}
