.homepace-header {
  margin: 10px;
  transform: translateX(280px);
  @media (max-width: 615px) {
    transform: translateX(110px);
  }
}

.logout {
  transform: translateY(-5rem);
}

.connect-dashboard {
  transform: translateY(-4rem);
}

.dash-bg {
  min-height: 75vh;
  @media (min-width: 200px) and (max-width: 420px) {
    min-height: 85vh;
  }
  @media (max-width: 420px) and (min-height: 850px) {
    min-height: 88vh;
  }
  @media (min-width: 370px) and (max-width: 400px) {
    min-height: 87vh;
  }
  @media (min-width: 400px) and (min-height: 700px) {
    min-height: 85vh;
  }
  @media (min-width: 500px) and (max-width: 600px) {
    min-height: 85vh;
  }
  @media (min-width: 700px) and (max-width: 1200px) {
    min-height: 89vh;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    min-height: 83vh;
  }
  @media (min-width: 1900px) and (max-width: 2000px) {
    min-height: 86vh;
  }
}
