@mixin layout {
  // display: flex;

  color: #b535fc;
  font-family: "Tangerine", cursive;
  background-color: $header;
}

@mixin footer {
  margin-left: 150px;
  font-size: 25px;
  display: inline;
  color: #b535fc;
}

@mixin layoutheader {
  display: flex;
  overflow-x: hidden;

  p {
    grid-row: p-s/p-e;
    transform: translateX(200px);
    @media (min-width: 200px) and (max-width: 305px) {
      transform: translateX(1rem);
      width: 90vw;
    }
    @media (min-width: 300px) and (max-width: 500px) {
      transform: translateX(20px);
    }
    @media (min-width: 500px) and (max-width: 615px) {
      width: 90vw;
      transform: translateX(2rem);
    }
    @media (min-width: 700px) and (max-width: 815px) {
      transform: translateX(8rem);
    }
  }
}

@mixin connect-footer {
  margin-left: 150px;
  font-size: 25px;
  display: inline;
  font-family: "Tangerine", cursive;
}
