.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 2px;
  font-size: 30px;
  transform: translateX(-32px) translateY(-15px);
  @media (min-width: 250px) and (max-width: 290px) {
    transform: translateX(-10rem) translateY(7rem);
  }
  @media (min-width: 290px) and (max-width: 350px) {
    transform: translateX(-11rem) translateY(8rem);
  }
  @media (min-width: 350px) and (max-width: 400px) {
    transform: translateX(-12rem) translateY(8rem);
  }
  @media (min-width: 400px) and (max-width: 490px) {
    transform: translateX(-13rem) translateY(8rem);
  }

  @media (min-width: 490px) and (max-width: 600px) {
    transform: translateX(-17rem) translateY(8rem);
  }
  @media (min-width: 600px) and (max-width: 700px) {
    transform: translateX(-19rem) translateY(8rem);
  }
  @media (min-width: 700px) and (max-width: 1000px) {
    transform: translateX(-22rem) translateY(10rem);
  }
  @media (min-width: 800px) and (max-width: 940px) {
    transform: translateX(-25rem) translateY(11rem);
  }
  @media (min-width: 1000px) and (max-width: 1200px) {
    transform: translateX(-30rem) translateY(13rem);
  }
  @media (min-width: 1200px) and (max-width: 1600px) {
    transform: translateX(-4rem) translateY(1rem);
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    transform: translateY(4rem) translateX(-5rem);
  }
}

.navbar-links {
  color: white;
  text-decoration: none;

  @media (max-width: 615px) {
    transform: translateY(-25px) translateX(-20px);
    width: 7vw;
  }
}

.navbar-links:hover {
  color: #b535fc;
}

.profile-page {
  background-color: black;
}

.profile {
  color: white;
}
