.sign-in__form,
.sign-in-form {
  color: rgb(100, 6, 88);
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  font-size: 1.5rem;

  margin-top: 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: 615px) {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
  }

  @media (min-width: 200px) and (max-width: 1100px) {
    margin-top: 40%;
  }
  @media (min-width: 1100px) and (max-width: 1200px) {
    font-size: 1.75rem;
  }

  .register-btn {
  }

  .birthday {
  }
  .question {
    // transform: translateX(50px);

    // @media (min-width: 200px) and (max-width: 550px) {
    //   transform: translateX(-30px);
    // }
  }

  .back-btn:hover,
  .login-btn:hover {
    background-image: linear-gradient(
      180deg,
      rgb(47, 0, 255),
      rgb(255, 0, 234)
    );
  }

  .back-btn:active,
  .login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

  input {
    transform: translateX(2px);
    text-align: center;
    border-radius: 70%;
    font-size: 20px;
  }
}

.sign-in-form h4 {
  font-size: 12px;
  color: red;
  justify-items: center;
}

.form-success {
  color: black;
}

.form-success {
  .back-btn:hover,
  .login-btn:hover {
    background-image: linear-gradient(
      180deg,
      rgb(47, 0, 255),
      rgb(255, 0, 234)
    );
  }

  .back-btn:active,
  .login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }
}

.birthday-input {
  width: 18vw;
  @media (min-width: 200px) and (max-width: 300px) {
    width: 87vw;
  }
  @media (min-width: 300px) and (max-width: 460px) {
    width: 60vw;
  }
  @media (min-width: 460px) and (max-width: 600px) {
    width: 45vw;
  }
  @media (min-width: 700px) and (max-width: 860px) {
    width: 31vw;
  }
  @media (min-width: 860px) and (max-width: 1260px) {
    width: 23.8vw;
  }
  @media (min-width: 1260px) and (max-width: 1400px) {
    width: 18vw;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    width: 16vw;
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    width: 12.7vw;
  }
}

button {
  border: 2px solid #008cba;

  color: black;
  padding: 12px 20px;
  margin: 2px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(192, 19, 178);
}

.blog-btn:hover {
  background-image: linear-gradient(180deg, rgb(47, 0, 255), rgb(255, 0, 234));
}

.blog-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 3px transparent;
}

.error-text {
  display: flex;
}

.register-form {
  color: rgb(100, 6, 88);
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  font-size: 1.5rem;

  input {
    transform: translateX(2px);
    text-align: center;
    border-radius: 70%;
    font-size: 20px;
  }
}

.register_form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  @media (min-width: 700px) and (max-width: 1060px) {
    margin-top: 20%;
  }
}
