.sign-in__form,
.sign-in-form {
  color: rgb(100, 6, 88);
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  font-size: 1.5rem;

  margin: 0;
  display: inline;
  float: right;
  @media (max-width: 615px) {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    transform: translate(-100px, 0px);
    align-items: center;
  }

  @media (min-width: 1100px) and (max-width: 1200px) {
    font-size: 1.75rem;
  }

  .register-btn {
    transform: translateX(14.1rem);
    @media (max-width: 515px) {
      transform: translateX(-6rem) translateY(20px);
    }
    @media (min-width: 515px) and (max-width: 600px) {
      transform: translateX(-6rem) translateY(15px);
    }
  }

  .birthday {
    @media (max-width: 615px) {
      transform: translateX(-100px);
    }
  }
  .question {
    // transform: translateX(50px);

    // @media (min-width: 200px) and (max-width: 550px) {
    //   transform: translateX(-30px);
    // }
  }

  button {
    transform: translateX(30px);
  }

  .back-btn:hover,
  .login-btn:hover {
    background-image: linear-gradient(
      180deg,
      rgb(47, 0, 255),
      rgb(255, 0, 234)
    );
  }

  .back-btn:active,
  .login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

  input {
    transform: translateX(2px);
    text-align: center;
    border-radius: 70%;
    font-size: 20px;
  }
}

.sign-in-form h4 {
  font-size: 12px;
  color: red;
  justify-items: center;
}

.form-success {
  color: black;
}

.form-success {
  .back-btn:hover,
  .login-btn:hover {
    background-image: linear-gradient(
      180deg,
      rgb(47, 0, 255),
      rgb(255, 0, 234)
    );
  }

  .back-btn:active,
  .login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }
}

.birthday-input {
  width: 18vw;
  @media (min-width: 200px) and (max-width: 300px) {
    width: 87vw;
  }
  @media (min-width: 300px) and (max-width: 460px) {
    width: 60vw;
  }
  @media (min-width: 460px) and (max-width: 600px) {
    width: 45vw;
  }
  @media (min-width: 700px) and (max-width: 860px) {
    width: 31vw;
  }
  @media (min-width: 860px) and (max-width: 1260px) {
    width: 23.8vw;
  }
  @media (min-width: 1260px) and (max-width: 1400px) {
    width: 18vw;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    width: 16vw;
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    width: 12.7vw;
  }
}

button {
  border: 2px solid #008cba;

  color: black;
  padding: 12px 20px;
  margin: 2px;
  border-radius: 6px;
  cursor: pointer;
  float: left;
  box-shadow: 5px 5px 5px rgb(192, 19, 178);
}

.blog-btn:hover {
  background-image: linear-gradient(180deg, rgb(47, 0, 255), rgb(255, 0, 234));
}

.blog-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 3px transparent;
  transform: translateY(2px);
}

.error-text {
  display: flex;
}

.register-fo {
  @media (min-width: 200px) and (max-width: 300px) {
    transform: translateX(-26rem) translateY(3rem);
  }

  @media (min-width: 300px) and (max-width: 359px) {
    transform: translateX(-24rem) translateY(2rem);
  }
  @media (min-width: 360px) and (max-width: 400px) {
    transform: translateX(-23rem) translateY(3rem);
  }
  @media (min-width: 400px) and (max-width: 520px) {
    transform: translateX(-21rem) translateY(4rem);
  }
  @media (min-width: 520px) and (max-width: 700px) {
    transform: translateX(-17rem) translateY(4rem);
  }
  @media (min-width: 700px) and (max-width: 780px) {
    transform: translateX(-16rem) translateY(20rem);
  }
  @media (min-width: 780px) and (max-width: 1000px) {
    transform: translateX(-190px) translateY(200px);
  }
  @media (min-width: 1000px) and (max-width: 1100px) {
    transform: translateX(-8rem) translateY(25rem);
  }
  @media (min-width: 1100px) and (max-width: 1400px) {
    transform: translateX(2rem) translateY(8rem);
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    transform: translateX(10rem) translateY(12rem);
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    transform: translateX(14rem) translateY(20rem);
  }
}

.sign-in-fo {
  @media (min-width: 200px) and (max-width: 300px) {
    transform: translateX(-455px);
  }
  @media (min-width: 301px) and (max-width: 360px) {
    transform: translateX(-27rem);
  }
  @media (min-width: 359px) and (max-width: 400px) {
    transform: translateX(-25rem);
  }
  @media (min-width: 400px) and (max-width: 520px) {
    transform: translateX(-390px);
  }
  @media (min-width: 520px) and (max-width: 700px) {
    transform: translateX(-320px) translateY(70px);
  }
  @media (min-width: 700px) and (max-width: 800px) {
    transform: translateX(-300px) translateY(100px);
  }
  @media (min-width: 800px) and (max-width: 1100px) {
    transform: translateX(-200px) translateY(300px);
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    transform: translateX(5rem) translateY(2rem);
  }
  @media (min-width: 1600px) and (max-width: 2000px) {
    transform: translateX(15rem) translateY(15rem);
  }
}
